:root {
    font-family: Arial, sans-serif;
    background-color: black;
}


#box-container {
    padding-top: 3.5%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F76902;
    justify-content: center;
}

.image-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 5px;
    border: solid black 2px;
    background-color: white;
    height: 20%;
    margin: 2.5%;
}

img {
    margin: 0 35%;
    color: black;
    
}

#box-container p {
    padding-top: 2%;
    font-size: 20px;
    margin: 0 40%;
    text-align: center;
    color: black;
}

h1 {
    font-size: 18px;
    color: #F76902;
}

h2 {
    padding-left:40%;
    padding-right:40%;
    color: black;
}